---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}

        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <title>{{ site.title }}</title>
    </head>
    <body>
        <div class="top">
            <img id="logo" src="img/logo.svg" alt="logo">
            <span id="arrow"><i class="fas fa-angle-down"></i></span>
        </div>

        <div class="main">
            <div class="container">
                {% for row in site.data.descriptions %}
                    <div class="section {% cycle '', 'reverse' %}">
                        <div>
                            <h2>{{ row.title }}</h2>
                            <p>{{ row.description | markdownify }}</p>
                        </div>
                        <img class="icon" src="{{ row.image }}">
                    </div>
                {% endfor %}
            </div>


            <div class="details">
                <p>{{ site.event.date }} &#x25cf; {{ site.event.time }} <a id="details-break" href="https://www.google.ca/maps/place/Port+Credit+Secondary+School/@43.5626267,-79.591293,17z/data=!3m1!4b1!4m5!3m4!1s0x882b466a1ee4e8ef:0xb69c8a518daf86c!8m2!3d43.5626228!4d-79.5891043">Port Credit Secondary School</a></p>
            </div>

            <div id="schedule">
                <h2>Schedule</h2>
                <table>
                    {% for row in site.data.schedule %}
                        <tr>
                            <td class="time">{{ row.time }}</td>
                            <td>{{ row.event }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div id="faq" class="container center">
                <h2>Frequently Asked Questions</h2> <br>

                {% for row in site.data.faq %}
                    <div class="box disable-select">
                        <h3>{{ row.question }}<span class="plusminus">+</span></h3>
                    </div>

                    <div class="slideout" style="display:none">
                        <div>
                            <p>{{ row.answer }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div id="sponsors" class="center sponsor">
                <h2>Sponsors TBA</h2>

                <p>Please fill out this form if you're interested in sponsoring {{ site.title }}</p>

                <form action="https://formspree.io/mnqnqraj" method="POST">
                    <input name="Company" placeholder="Company" required> <br>
                    <input name="Email" type="email" placeholder="Email" required> <br>
                    <button type="submit">Submit</button>
                </form>

            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
