---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}

        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

        <title>{{ site.title }}</title>
    </head>
    <body>
        <div class="top">
            <img id="logo" src="logo.svg" >
            <span id="arrow"><i class="fas fa-angle-down"></i></span>
        </div>

        <div class="main">
            <div class="container">
                <div class="section">
                    <div>
                        <h2>Opportunities</h2>
                        <p><b>Lighthouse Hacks</b> is a fun-filled day of learning, building, and networking. You'll get to get to work on a project with a team of four and pitch your ideas to a panel of judges. Additionally, you get an opportunity to attend workshops, meet new people, and build connections.</p>
                    </div>
                    <img src="img/gears.png">
                </div>


                <div class="section">
                    <img src="img/connections.svg">

                    <div>
                        <h2>Meet New People</h2>
                        <p><b>Lighthouse Hacks</b> is a fun-filled day of learning, building, and networking. You'll get to get to work on a project with a team of four and pitch your ideas to a panel of judges. Additionally, you get an opportunity to attend workshops, meet new people, and build connections.</p>
                    </div>
                </div>
            </div>


            <div class="details">
                <p>Saturday, May 9th &#x25cf; 10AM to 9PM &#x25cf; <a href="https://www.google.ca/maps/place/Port+Credit+Secondary+School/@43.5626267,-79.591293,17z/data=!3m1!4b1!4m5!3m4!1s0x882b466a1ee4e8ef:0xb69c8a518daf86c!8m2!3d43.5626228!4d-79.5891043">Port Credit Secondary School</a></p>
            </div>

            <div id="schedule">
                <h2>Schedule</h2>
                <table>
                    <tr>
                        <td class="time">10:00 AM</td>
                        <td>Sign in</td>
                    </tr>
                    <tr>
                        <td class="time">10:30 AM</td>
                        <td>Opening Ceremony</td>
                    </tr>
                    <tr>
                        <td class="time">11:00 AM</td>
                        <td>Hacking Begins</td>
                    </tr>
                    <tr>
                        <td class="time">12:30 PM</td>
                        <td>Lunch</td>
                    </tr>
                    <tr>
                        <td class="time">2:00 PM</td>
                        <td>Workshop 1 (TBD)</td>
                    </tr>
                    <tr>
                        <td class="time">2:30 PM</td>
                        <td>Workshop 2 (TBD)</td>
                    </tr>
                    <tr>
                        <td class="time">3:00 PM</td>
                        <td>Cup Stacking</td>
                    </tr>
                    <tr>
                        <td class="time">6:00 PM</td>
                        <td>Dinner</td>
                    </tr>
                    <tr>
                        <td class="time">7:30 PM</td>
                        <td>Judging</td>
                    </tr>
                    <tr>
                        <td class="time">8:30 PM</td>
                        <td>Closing Ceremony</td>
                    </tr>
                </table>
            </div>

            <h2>The Team</h2>

            <div class="center">
                <h2>Frequently Asked Questions</h2> <br>

                {% for row in site.data.faq %}
                <div class="box disable-select">
                    <h3>{{ row.question }}<span class="plusminus">+</span></h3>
                </div>

                <div class="slideout" style="display:none">
                    <div>
                        <p>{{ row.answer }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="sponsors-wrapper">
                <h2>Sponsors</h2>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
