* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: white;
    color: #6600cc;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    font-weight: 400;
}

h3 {
    font-size: 2.5em;
    font-weight: 700;
}

p {
    font-size: 1.2em;
    width: 60%;
}

hr {
    border: 3px solid #6600cc;
    margin-top: 2vh;
    border-radius: 5px;
}

.main{
    background-color: white;
    padding: 50px;
    width: 50vw;
    margin: 5vh auto 5vh auto;
    border-radius: 20px;
}

#arrow {
    position: absolute;
    bottom: 5vh;
    left: 0px;
    width: 100%;
    font-size: 3em;
    opacity: 0;
    text-align: center;
    transition: opacity 0.5s
}

@media only screen and (max-width: 1480px){
    p {
        width: 85%
    }
}

@media only screen and (max-width: 1200px){
    p {
        width: 100%
    }
}

@media only screen and (max-width: 800px){
    .main {
        width: 70vw;
        margin: 10vh auto 10vh auto;
    }
}

@media only screen and (max-width: 480px){
    body {
        background-color: white !important;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.25em;
    }

    h3 {
        font-size: 1.875em;
    }

    p {
        width: 100%;
    }

    .main {
        width: 80vw;
        margin: 5vh auto 5vh auto;
        padding: 20px;
    }
}
