---
---

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

.top {
	width: 100%;
	height: 80vh;
	margin: 0 0 20vh 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

#logo {
	height: 80%;
	filter: opacity(0);
	-webkit-animation: fadeIn 1s forwards 0.5s;
	animation: fadeIn 1s forwards 0.5s;
}

#arrow {
	color: #312868;
	position: absolute;
	bottom: 5vh;
	left: 0;
	width: 100%;
	font-size: 3em;
	opacity: 0;
	text-align: center;
	transition: opacity 0.5s;
}

.main {
	background-color: #312868;
	color: white;
	padding: 50px 0;
}

h2 {
	font-size: 50px;
	margin-bottom: 0;
}

p {
	font-size: 20px;
}

.container {
	margin: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section {
	width: 1200px;
	padding: 50px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

	div {
		width: 500px;
	}

	img {
		-webkit-filter: invert(100%);
		filter: invert(100%);
		height: 200px;
	}
}

.reverse {
	flex-direction: row-reverse;
}

.details {
	background: rgba(0, 0, 0, 0.4);
	margin: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding: 10px 0;

	p {
		font-size: 25px;
		font-weight: 600;
	}

	a {
		color: white;
		transition: color 0.1s;

		&:hover {
			color: #9189ff;
		}
	}

	#span-date:after {
		content: "\a0\25CF"; // Add a black circle
	}

	#details-break:after {
		content: "\a0\25CF"; // Add a black circle
	}
}

#schedule {
	.schedule-wrapper {
		display: flex;
		align-items: flex-start;

		div {
			margin: 0 20px;
			text-align: center;
		}
	}

	margin: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;

	h2 {
		margin: 20px 0;
	}

	table {
		width: 500px;
		table-layout: fixed;
	}

	table tr:nth-child(even) {
		background-color: black;
		background: rgba(255, 255, 255, 0.1);
	}

	table tr:nth-child(odd) {
		background-color: black;
		background: rgba(255, 255, 255, 0.2);
	}

	table td {
		padding: 15px;
	}

	table .time {
		text-align: right;
		width: 100px;
		font-weight: 600;
	}
}

.sponsor {
	margin: 100px 0 0;
	padding: 50px 0 100px 0;
	background-color: #ffc4c4;
	-webkit-clip-path: polygon(0 5%, 100% 0, 100% 95, 0% 100%);
	clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);

	h2 {
		color: #7d160b;
		margin-bottom: 100px;
		transform: rotate(-1deg);
	}

	div {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.sponsor-icon {
			margin: 20px;
			height: 80px;
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}

@-webkit-keyframes fadeOutLeft {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes fadeOutLeft {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@-webkit-keyframes fadeIn {
	from {
		filter: opacity(0);
	}
	to {
		filter: opacity(1);
	}
}

@keyframes fadeIn {
	from {
		filter: opacity(0);
	}
	to {
		filter: opacity(1);
	}
}

@-webkit-keyframes bounce {
	from,
	20%,
	53%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(
			0.755,
			0.05,
			0.855,
			0.06
		);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(
			0.755,
			0.05,
			0.855,
			0.06
		);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -4px, 0);
		transform: translate3d(0, -4px, 0);
	}
}

@keyframes bounce {
	from,
	20%,
	53%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(
			0.755,
			0.05,
			0.855,
			0.06
		);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(
			0.755,
			0.05,
			0.855,
			0.06
		);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -4px, 0);
		transform: translate3d(0, -4px, 0);
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.box,
.slideout {
	width: 80%;
	max-width: 1000px;
	padding: 20px;
	background-color: #eee;
	color: #292929;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.box {
	margin-top: 20px;
	cursor: pointer;
	background-color: #dbdbdb;
}

.slideout {
	display: flex;
}

.slideout div {
	flex: 1;
}

.plusminus {
	float: right;
}

.disable-select {
	user-select: none; /* Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

@media only screen and (max-width: 1440px) {
	.sponsor {
		div {
			flex-direction: column;
		}

		h2 {
			transform: rotate(-2deg);
		}
	}
}

@media only screen and (max-width: 1200px) {
	.section {
		width: 100%;
	}

	#schedule {
		.schedule-wrapper {
			flex-direction: column;
		}
	}
}

@media only screen and (max-width: 900px) {
	.sponsor {
		h2 {
			transform: rotate(-3deg);
		}
	}

	#logo {
		width: 80%;
	}

	p {
		line-height: 1.5;
	}

	.details {
		padding: 25px 0;

		p {
			line-height: 1.5;
			margin: auto;
		}

		a {
			color: rgb(125, 138, 255);
		}

		#details-break {
			display: block; // Put location on a new line
		}

		#span-date:after,
		#details-break:after {
			content: none !important; // Remove black circle
		}
	}

	.sponsor {
		p {
			margin: 20px 0;
		}
	}
}

@media only screen and (max-width: 800px) {
	.icon {
		display: none;
	}

	h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		width: 80%;
		margin: auto;
	}
}

@media only screen and (max-width: 650px) {
	.sponsor {
		-webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
		clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
	}
}

@media only screen and (max-width: 550px) {
	#schedule table {
		width: 100%;
	}

	#details-time {
		display: block; // Put location on a new line
	}

	#details-time:before {
		content: none !important; // Remove black circle
	}

	h2 {
		font-size: 40px;
	}
}
